@sleep: #435a6b;
@wake: #3fa46a;

html,body,div{
	border:0px;
	padding:0px;
	margin:0px;
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
	color:white;
}
body,html{
	overflow:hidden;
}


a {
	color:white;
	border:1px solid white;
	text-decoration: none;
	padding:15px;
	font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
	font-weight: bold;
}

div.main{
	font-size:2em;
	padding-top:50px;
	height:100vh;
	&.sleep{
		background-color: @sleep;
		a:hover{
			//background-color: @wake;
		}
	}

	&.wake{
		background-color: @wake;
		a:hover{
			//background-color: @sleep;
		}
	}
}

div.summary{
	font-size:2em;
	height:100vh;
	background-color:@sleep;
	ul{
		list-style: none;
		text-indent: 0;
		padding:0;
		font-size: 0.6em;
		text-align: left;
		padding-left:40px;
	}
}
div.date{
	background-color:#0e83cd;
	text-transform: uppercase;
}
div.data{
	padding:0px;
	width:400px;
	margin:auto;
	text-align: center;	
	padding:20px;

}

div.naps{
	background-color: @wake;
	min-height:50px;
}

div.sleep{
	background-color: @sleep;
	min-height:50px;
}

div.message{
	font-size:1.8em;
	text-align: center;
}

div.action{
	margin-top:100px;
}

div.content{
	padding:0px;
	width:400px;
	margin:auto;
	text-align: center;
	height: 100vh;
}