@sleep: #435a6b;
@wake: #3fa46a;

html,body{
	background-color:#333;
}

#tophat{
  font-size:2em;
  text-align: right;
  background-color:#eee;
	a{ border-color:#89867e; margin-right:5px; color: #89867e; padding:5px; padding-left:10px; padding-right:10px; margin-bottom:5px; margin-top:5px;}
}

a {
	color:white;
	border:1px solid white;
	text-decoration: none;
	padding:15px;
	
	&:hover{
		color:white;
		text-decoration: none;
	}
	display:inline-block;
}
#sleep-state{
	min-height:450px;
	font-size:1.5em;
	color:white;
	line-height: 2.2em;
	text-align: center;
	padding-top:20px;
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
	.container{
		font-size:2em;
	}
	&.sleep{
		background-color: @sleep;
		a:hover{
			//background-color: @wake;
		}
	}

	&.wake{
		background-color: @wake;
		a:hover{
			//background-color: @sleep;
		}
	}
	div.action{
		a{ 
			font-size: 0.5em;
			font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
			font-weight: bold;
			padding-top:5px;
			padding-bottom:5px;
		}
		margin-top:50px;	
	}
	
}

#summary-date{
	background-color:#0e83cd;
	text-transform: uppercase;
	font-size: 1.2em;
	@media only screen and (max-width: 767px) {
		font-size:1em;
	}
	font-weight: bold;
	a{
		border:none;
		display:inline-block;
		margin-top:-12px;
		color:white;
		&:visited,&:active{
			color:white;
		}
	}
	color:white;
	text-align: center;
	div.date-text{	
		padding-top: 5px;
	}
	
}

.columns.summary, .column.summary{
	padding-top:10px;
	padding-bottom:10px;
	ul{

		list-style-type: square;
		text-indent: 0;
		padding:0;
		font-size: 0.6em;
		text-align: left;
		padding-left:20px;
		a{
			border:none;
			padding:5px;
		}
		margin-bottom: 5px;
		margin-top: 20px;
	}
	color:white;
	font-size:2em;
	line-height: 1.1em;
}

#summary-day{
	background-color:@wake;
}

#summary-night{
	background-color:@sleep;
}

#summary-data{
	background-color:#cd4436;
	button{
		color:black;
		width:100%;
		margin-top:0px;
	}
	padding-bottom:100px;
}

div.export{
	color:black;
	font-size: 1em;
	font-family: monospace;
}


#loading-container{
	height:500px;
	margin-top:100px;
}
div.loading{
	font-size: 2em;
	margin:auto;
	color:black;
	margin-top:100px;
	color:white;
	text-align: center;
}

div.bootstrap-timepicker{
	width:125px;
	display:inline-block;
	font-size:0.6em;
	input {
		display: inline;
		width:120px;
	}
	margin-top:10px;
}


input, div.bootstrap-timepicker{
	color:black;
}

.loader {
    width: 64px;
    height: 64px;
    position: relative;
	transform-style: preserve-3d;
    margin: 0 auto;
    text-align: left;
    margin-bottom:20px;
}
@-webkit-keyframes loader21 {
	0% { transform: translate(0px, 0px) rotateZ(0deg); }
	30% { transform: translate(-10px, -10px) rotateZ(0deg); }
    70% { transform: translate(-10px, -10px) rotateZ(180deg); }
    100% { transform: translate(0px, 0px) rotateZ(180deg); }
}
@-webkit-keyframes loader22 {
	0% { transform: translate(0px, 0px) rotateZ(0deg); }
	30% { transform: translate(10px, -10px) rotateZ(0deg); }
    70% { transform: translate(10px, -10px) rotateZ(180deg); }
    100% { transform: translate(0px, 0px) rotateZ(180deg); }
}
@-webkit-keyframes loader23 {
	0% { transform: translate(0px, 0px) rotateZ(0deg); }
	30% { transform: translate(10px, 10px) rotateZ(0deg); }
    70% { transform: translate(10px, 10px) rotateZ(180deg); }
    100% { transform: translate(0px, 0px) rotateZ(180deg); }
}
@-webkit-keyframes loader24 {
	0% { transform: translate(0px, 0px) rotateZ(0deg); }
	30% { transform: translate(-10px, 10px) rotateZ(0deg); }
    70% { transform: translate(-10px, 10px) rotateZ(180deg); }
    100% { transform: translate(0px, 0px) rotateZ(180deg); }
}
.loader-2 {
    -webkit-transform: rotateZ(45deg);
}
.loader-2 i {
    position: absolute;
    width: 32px;
    height: 32px;
    background: #00aacf;
    -webkit-animation: loader21 1000ms infinite ease-in-out;
}
.loader-2 i + i {
    left: 32px;
    -webkit-animation-name: loader22;
}
.loader-2 i + i + i {
    top: 32px;
    -webkit-animation-name: loader23;
}
.loader-2 i + i + i + i {
    top: 32px;
    left: 0;
    -webkit-animation-name: loader24;
}
